<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ site.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">

	<!-- ======================================== -->
	<!-- = duplicate from bootstrap - delete??? = -->
	<!-- ======================================== -->
	<link href="/css/bootstrap.css" rel="stylesheet">
	<style>
	  body {
	    padding-top: 60px;
	  }
	</style>
	<link href="/css/bootstrap-responsive.css" rel="stylesheet">
	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
  </head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">{{ site.name }}</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="active"><a href="/">Home</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">
<!-- <div class="wrapper"> -->
<header>
	<h1><a name="umx" class="anchor" href="#umx"><span class="octicon octicon-link"></span></a>Posts</h1>
	  {% for post in site.posts limit: 15 %}
		<div class="row-fluid">
		  <div class="span12">
		    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
		  </div>
		</div>
	  {% endfor %}

	<div class="row-fluid">
	  <div class="span12">
	    <div class="pagination">
	      <ul>
	        {% if paginator.previous_page %}
	          {% if paginator.previous_page == 1 %}
	          <li><a href="/">Prev</a></li>
	          {% else %}
	          <li><a href="/page{{ paginator.previous_page }}">Prev</a></li>
	          {% endif %}
	        {% else %}
	        <li><span class="disabled">Prev</span></li>
	        {% endif %}
	        {% if paginator.page == 1 %}
	        <li><span class="active">1</span></li>
	        {% else %}
	        <li><a href="/">1</a></li>
	        {% endif %}
	        {% for count in (2..paginator.total_pages) %}
	          {% if count == paginator.page %}
	          <li><span class="active">{{ count }}</span></li>
	          {% else %}
	          <li><a href="/page{{ count }}">{{ count }}</a></li>
	          {% endif %}
	        {% endfor %}
	        {% if paginator.next_page %}
	        <li><a href="/page{{ paginator.next_page }}">Next</a></li>
	        {% else %}
	        <li><span class="disabled">Next</span></li>
	        {% endif %}
	      </ul>
	    </div>
	  </div>
	</div>
</header>
	